.invoice-list-item {
  list-style: none;
}

.invoice-list {
  width: 1000px;
  margin-top: 20px !important;
}

.invoice-heading-1 {
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
  padding-left: 40px;
}

li {
  padding: 10px;
  border: 2px solid;
  margin-bottom: 20px;
}

li :first-child {
  width: 100px;
  font-weight: bold;
  font-size: larger;
}