.invoice-list-items {
  list-style: none;
  padding-inline-start: 10px;

  li {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 20px;

    :first-child {
      font-weight: bold;
      font-size: larger;  
    }
  }

  .invoice-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .1s ease-in-out;
    box-shadow: 0;
    
    &:hover {
      border-color: #13b5ea;
      box-shadow: 0 0 0 1px #13b5ea;
      cursor: pointer;
    }

    .invoice-list-item-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      & > * {
        margin: 0 15px;
      }
    }
  }
}

.invoice-list {
  width: 1000px;
  margin-top: 20px !important;
}

.invoice-list-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid black;

  svg {
    width: 20px;
    height: 25px;
    transition: all .15s ease-in-out;

    &.focused {
      stroke: #13b5ea;
      fill: #13b5ea;
    }
  }
}

.search-input {
  font-size: 14px;
  border: none;
  width: 100%;
  height: auto;

  &:focus {
    border: none;
    outline: none;
  }
}

.no-results {
  width: 1000px;
  padding-left: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
}
