.invoice-list-items {
  list-style: none;
  padding-inline-start: 10px;

  li {
    padding: 10px;
    border: 2px solid;
    margin-bottom: 20px;

    :first-child {
      font-weight: bold;
      font-size: larger;  
    }
  }

  .invoice-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: border-color .15s ease-in-out;
    
    &:hover {
      border-color: #13b5ea;
      cursor: pointer;
    }

    .invoice-list-item-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      & > * {
        margin: 0 15px;
      }
    }
  }
}

.invoice-list {
  width: 1000px;
  margin-top: 20px !important;
}

